<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>{%block title%}{%endblock%}</title>
      <style>
          {%block css%}{%endblock%}
  </style>
  </head>
  <body>
  <script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '490246721760036',
      cookie     : true,
      xfbml      : true,
      version    : 'v4.0'
    });

    FB.AppEvents.logPageView();

  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "https://connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>
  {% load static %}
<!--  here is jsSDK for fb login-->
  <div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v4.0&appId=490246721760036&autoLogAppEvents=1"></script>
<!--  fb close-->
   <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">Python-cart</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item">
          <a class="nav-link" href="/AboutUs/">About Us</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="/login/">login</a>
      </li>

      <li class="nav-item">
          <a class="nav-link" href="/ContactUs/">Contact Us</a>
      </li>


    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>

          <a class="nav-link" href="#">Cart(<span id="cart">0</span>)</a>

  </div>
</nav>

{%block body%}   {%endblock%}




    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joa f5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <script>
        console.log('working');
    if (localStorage.getItem('cart') == null){
        var cart ={};
        }
     else
        {
          cart = JSON.parse(localStorage.getItem('cart'));
          document.getElementById('cart').innerHTML = Object.keys(cart).length;
          updateCart(cart)
        }

     function add(id) {
        console.log('added');
     var idstr =id.toString();
     if (cart[idstr] != undefined){
     cart[idstr]= cart[idstr]+1;
     }
     else{
     cart[idstr]=1;
     }
     updateCart(cart)
     localStorage.setItem('cart',JSON.stringify(cart));
     document.getElementById('cart').innerHTML = Object.keys(cart).length;
        }

    function updateCart(cart)
        {
          for (var item in cart)
            // console.log(item)

            document.getElementById('div'+ item).innerHTML = "<button id='minus" + item + "'class = 'btn btn-primary minus'>-</button><span id = 'val" + item + "'> " + cart[item] + "</span><button id='plus"+ item + "'class='btn btn-primary plus'> + </button>";

             localStorage.setItem('cart',JSON.stringify(cart));
              document.getElementById('cart').innerHTML = Object.keys(cart).length;
            
        }

       $('.divpr').on('click','button.minus',function(){
         a = this.id.slice(5, );
         cart[a] = cart[a] - 1
         cart[a] =  Math.max(0,cart[a]);
         // document.getElementById('val'+a).innerHTML = cart[a];
           updateCart(cart)
       })
       $('.divpr').on('click','button.plus',function(){
          a = this.id.slice(4, );
         cart[a] = cart[a] + 1
          cart[a] =  Math.max(0,cart[a]);
         //  console.log(document.getElementById('val'+a).innerHTML)
            updateCart(cart)
        })

    </script>
  <script href="{% static 'js/jquery-3.4.1.min.js' %}"></script>

    {%block js%}   {%endblock%}
  </body>

