{% extends 'base.html' %}

{% block css %}
          .col-md-3
          {
          display: inline-block;
          margin-left:-4px;
          }

          .carousel-indicators .active {
          background-color: blue;
            }

          .col-md-3 img {
            width: 183px;
            height: 146px;
            }

          body .carousel-indicator li{
          background-color: blue;
          }

          body .carousel-indicators{
          bottom: 0;
          }

          body .carousel-control-prev-icon,
          body .carousel-control-next-icon{
          background-color: blue;
          }

          .carousel-control-prev{
          top: auto;
            bottom: auto;
            margin-left: -56px;
            margin-top: -294px;
          }
        .carousel-control-next{
            top: auto;
            bottom: auto;
            margin-top: -294px;
            padding-left: 118px;

            }

           body .no-padding{
           padding-left: 0,
           padding-right: 0;
           }
 {% endblock %}

{% block body %}
{% load static %}
<div class="container">

    <!--Slideshow starts here -->
    {% for product, range, nSlides in allProds %}
    <h3 class="my-4">{{product.0.category}} </h3>
<div class="row">
<div id="demo{{forloop.counter}}" class="carousel slide my-3" data-ride="carousel">
    <ul class="carousel-indicators">
      <li data-target="#demo{{forloop.counter}}" data-slide-to="0" class="active"></li>

       {% for i in range %}
      <li data-target="#demo{{forloop.parentloop.counter}}" data-slide-to="{{i}}" ></li>
      {% endfor %}
    </ul>


    <div class="container carousel-inner no-padding">

      <div class="carousel-item active">

        {% for i in product %}
        <div class="col-xs-3 col-sm-3 col-md-3">
          <div class="card align-items-center" style="width: 18rem" "height: 23rem;">
            <img src='/media/{{i.image}}' class="card-img-top" style="height" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{i.product_name|slice:"0:40"}}</h5>
              <p class="card-text">{{i.desc|slice:"0:50"}}......</p>
              <h6><b>  price.{{i.price}}</b></h6>
                <span id="divpr{{i.id}}" class="divpr"><button id="pr{{i.id}}" class="btn btn-primary cart" onclick="add(this.id)">Add To Cart</button></span>
              <a href="products/{{i.id}}"><button id="qv{{i.id}}" class="btn btn-primary cart">Quick view </button></a>
            </div>
          </div>
        </div>
        {% if forloop.counter|divisibleby:4 and forloop.counter > 0 and not forloop.last %}
      </div>
        <div class="carousel-item ">
        {% endif %}

        {% endfor %}
    </div>



</div>
</div></div>
    <!-- left and right controls for the slide -->
    <a class="carousel-control-prev" href="#demo{{forloop.counter}}" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo{{forloop.counter}}" data-slide="next">
        <span class="carousel-control-next-icon"></span>
    </a>

    {% endfor %}
</div>

{% block js %}



{% endblock%}
 {% endblock %}

