{% extends 'base.html' %}
{%block title%}  {{product.product_name}}  {%endblock%}

{%block body%}
<hr>
<div class="container my-3" >
    <div class="row">
      <div class="col-md-4">
        <div class="row">
            <img src="/media/{{product.image}}" width="300px" height="300px">
        </div >
          <hr>
        <div class="row">
             <button class="btn btn-primary mx-3"> Buy Now</button>
             <button class="btn btn-primary mx-3"> Add to cart </button>
        </div>
          <hr>
      </div>
      <div class="col-md-8">
        <div class="row">
            <h3>{{product.product_name}}</h3>
        </div>
        <div>
            <h3><b>price.{{product.price}}</b></h3>
        </div>
          <hr>
         <div class="row">
            <h6>{{product.desc}}</h6>
        </div>
      </div>
    </div>
</div>
{%endblock%}